body {
    overflow-y: hidden;
}

body,
html {
    width: 100%;
    overflow-x: hidden;
}

.navbar {
    height: 80px;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a {
    margin-left: 20px;
    margin-right: 20px;
    
}

.navbar-brand {
    transition: all .35s;
}

.navbar-brand:hover {
    transition: all .35s;
    transform: scale(1.20);
}

.shopping-cart {
    transition: all .35s;
}

.shopping-cart:hover {
    transition: all .35s;
    transform: scale(1.20);
}

.sidebar {
    height: 100%;
    width: 150px;
    background-color: crimson;
    position: fixed;
    top: 80px;
    left: 0;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
    overflow: hidden;
}

.sidebar a {
    display: flex;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 16px;
    transition: all .35s;
    gap: 10px;
}
.sidebar svg {
    display: block;
}
.sidebar a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}

.sidebar a:hover {
    background-color: white;
    color: black;
}
.diagonal-block {
    position: absolute;
    width: 200%;
    height: 50px;
    transform: rotate(-45deg);
    z-index: -1000;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}

.block1 {
    background-color: rgb(145, 14, 40); /* Color de la primera línea */
    bottom: 120px;
    left: -50%;
}

.block2 {
    background-color: rgb(145, 14, 40); /* Color de la segunda línea */
    bottom: 220px;
    left: -50%;
}

.block3 {
    background-color: rgb(145, 14, 40); /* Color de la tercera línea */
    bottom: 330px;
    left: -50%;
}
.main-content {
    margin-top: 80px;
    margin-left: 150px;
}

.carousel-container {
    width: 470px;
    min-width: 470px;
    margin: 0;
    background-color: crimson;
    z-index: 0;
}

.carousel-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0 auto
}

.sub-navbar {
    background-color: crimson;
    position: relative;
    width: 100%;
    z-index: 1;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
}
.sub-navbar p{
    display:inline;
    vertical-align: middle;
    font-size: 24px;
    color: white;
}

.list-sub-navbar {
    background-color: white;
    position: relative;
    width: 100%;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
    display: flex;  
    gap: 50px;
    padding: 5px 15px;
    align-items: baseline;
}
.list-sub-navbar p{
    font-size: 24px;
    color: black;
    margin-bottom: 0;
    width: 150px;
}

form {
    background-color: crimson;
    width: 300px;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
    }
    input {
    all: unset;
    font: 16px system-ui;
    color: #fff;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
    }
    ::placeholder {
    color: #fff;
    opacity: 0.7; 
    }
form button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.contenido .producto {
    display: flex;  
    gap: 50px;
    padding: 15px;
    align-items: center;
    border-bottom: solid 1px #b6b6b6;
}
.contenido h3 {
    width: 150px;
}
.contenido p {
    width: 150px;
    font-weight: bold;
}
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.badge {
    padding: 0.5em 0.7em;
    font-size: 0.75em;
    color: white;
    background-color: crimson;
    border-radius: 50%;
}

.content {
    display: flex;
}

.latest-products {
    display: inline-grid;
    padding: 20px;
    background-color: #f9f9f9;
    width: 100%;
}

.product-list {
    display: flex;
    overflow-x: auto;
    margin-top: 50px;
    margin-right: 20px;
}

.product-item {
    min-width: 150px;
    margin-right: 12px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.product-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.categories {
    margin-top: 40px;
    padding: 10px;
}

.category-buttons {
    display: flex;
    justify-content: space-between;
}

.category-button {
    background-color: crimson;
    color: white;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.category-button:hover {
    transform: scale(1.1);
}

.category-button svg {
    margin-right: 10px;
}

.category-button span {
    font-size: 16px;
}

@media (max-width: 768px) {


    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
        z-index: 2;
        top: 50px;
    }
    .main-content {
        margin-top: 50px;
        margin-left: 0;
        padding: 0;
    }

    .sub-navbar a{
        margin-top: 20px;
    }
    .content {
        margin-left: 0;
        padding: 2rem;
    }
    .carousel-container {
        width: 100%;
    }
    .carousel-container img {
        object-fit:cover;
        width: 100%;
    }
    .carousel-inner img {
        height: auto;
    }

    .navbar {
        flex-direction: column;
    }
    
    .content {
        display: block;
        padding: 0;
    }
    .product-list {
        display: inline;
        overflow-x: auto;
        margin-right: 70px;
    }
}

@media (max-width: 690px) {
    
    .navbar {
        height: auto;
    }

    .navbar-brand {
        display: inline;
    }

    .sidebar {
        top: 100px;
    }

    .main-content {
        margin-top: 100px;
    }

    .navbar-icons {
        margin-top: 15px;
    }

    .carousel-inner img {
        height: auto;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }
    .sidebar a {
        margin-top: 50px;
    }
}
