.logo-container {
    position: relative;
    color: white;
    font-size: 50px;
    z-index: 1;
	margin-bottom: 40px;
}

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background-image: url(https://images7.alphacoders.com/344/344223.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.main{
	width: 350px;
	height: 500px;
	background: crimson;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #4d4d4d;
}

#chk{
	display: none;
}
.login{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 10px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: crimson;
	background: white;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background:dimgrey;
	color: white;
}
.signup{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.signup label{
	color: crimson;
	transform: scale(.6);
}

#chk:checked ~ .signup{
	transform: translateY(-500px);
}
#chk:checked ~ .signup label{
	transform: scale(1);	
}
#chk:checked ~ .login label{
	transform: scale(.6);
}

.index-back-btn {
	text-decoration: none;
	position: relative;
	top: 5px;
	color: white;
}
@media (max-width: 1000px) {
    .main {
        width: 750px;
        height: 1000px;
    }

    form label {
        font-size: 5em;
        margin: 130px;
    }

    form input {
        width: 70%;
        height: 60px;
        font-size: 35px;
        margin: 30px auto;
    }

    form button {
        width: 70%;
        height: 60px;
        font-size: 2em;
    }

    .signup {
        height: 800px;
    }
    .signup label {
        margin: -50px;
        margin-bottom: 1em;
    }

    #chk:checked ~ .signup{
        transform: translateY(-800px);
    }
}